* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #463239;
    padding: 30px;
    width: 1290px;
    
}

li {
    display: inline-block;
    margin: 0 80px;
    color: white;
    padding: 5px;
}

img {
    width: 220px;
    margin-right: 12px;
}

.produtos {
    display: inline-block;
    margin: 30px 30px 20px 50px;
}

h3 {
    margin-top: 20px;
    margin-left: 70px;
}

.form-tamanho {
    margin-top: 20px;
    margin-left: 40px;
}

button {
    margin-top: 20px;
    margin-left: 70px;
    background-color: #ccc;
    padding: 2px 5px;
}

h2 {
    font-size: 16px;
    text-transform: uppercase;
    padding-top: 10px;
    padding-left: 30px;
}

.cadastro {
    margin: 0 5px 0 30px;
}

input {
    background-color: #ccc;
}

.button-formulario {
    border-color: #ccc;
    display: inline-block;
    padding: 2px 5px;
    text-transform: uppercase;
    margin-left: 30px;
}

footer {
    background-color: #C6AD94;
    text-transform: uppercase;
    padding-bottom: 2px;
    width: 1290px;
}